<section id="about">
    <div class="about-heading">
        <div class="about-heading-text">ABOUT</div>
    </div>
    <div class="about-details">
        <p>An open forum for geeks to connect, discuss & learn latest ideas, technologies and trends in software development.</p>
        <p>Geek Night All day is a special edition of Geeknight which happens twice a year to promote sharing of technical knowledge and increase collaboration between geeks in Chennai. It is organized by a passionate group of programmer and sponsored by ThoughtWorks.</p>
    </div>
</section>
