<section id="about">
    <div class="about-heading">
        <div class="about-heading-text">ABOUT</div>
    </div>
    <div class="about-details">
        <p>An open forum for geeks to connect, discuss & learn latest ideas, technologies and trends in software development.</p>
    </div>
</section>
